.portfolio-page {
  padding-left: 100px;
  padding-right: 50px;
  width: calc(100% - 150px);
  position: initial;
  height: 100%;
  overflow: auto;

  h1.page-title {
      margin-left: 100px;
      margin-top: 100px;
  }

  .images-container {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 100px;
      margin-left: 100px;
  }

  .image-box {
      position: relative;
      margin: 15px;
      height: 300px;
      overflow: hidden;
      border-radius: 10px;
      min-width: 260px;
      max-width: 260px;
      width: 100%;
      color: #141414;
      text-align: left;
      line-height: 1.4em;
      font-size: 16px;
      
      img {
        max-width: 100%;
        height: 300px;
        object-fit: cover;
        vertical-align: top;
      }
    
      figcaption {
        position: absolute;
        top: calc(77%);
        width: 100%;
        background-color: white;
        padding: 15px 25px 65px;
        
        &:before {
          position: absolute;
          content: '';
          z-index: 2;
          bottom: 100%;
          left: 0;
          width: 100%;
          height: 60px;
          background-image: linear-gradient(to bottom, transparent 0%, white 100%);
          background-image: -webkit-linear-gradient(to bottom, transparent 0%, white 100%);  
        }
      }
    
      h4,
      p {
          margin: 0 0 10px;
      }
    
      h4 {
          font-weight: 300;
          font-size: 1.4em;
          line-height: 1.2em;
          text-transform: uppercase;
      }
    
      p {
          font-size: 0.9em;
          letter-spacing: 1px;
          opacity: 0.9;
          color: #141414;
      }
    
      a {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          height: 0;
          z-index: 2;
      }
      
  }
    .image-box * {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease;  
    }

    .image-box:hover figcaption{
        top: 150px;
    }
  }
