.home-page {
  .text-zone-home {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }

  h1 {
    color: #fff;
    font-size: 53px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;

    &::before {
      content: '<h1>';
      font-family: 'La Belle Aurore';
      color: #caf0f8ff;
      font-size: 18px;
      position: absolute;
      margin-top: -30px;
      left: 15px;
      opacity: 0.6;
    }

    &::after{
      content: '<h1/>';
      font-weight: bold;
      font-family: 'La Belle Aurore';
      color: #caf0f8ff;
      font-size: 18px;
      position: absolute;
      margin-top: 75px;
      left: 15px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }

    img {
      width: 32px;
      margin-left: 20px;
      opacity: 0;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;

    }
  }
  video {
    position: absolute;
    width: 100%;
    left: 110%;
    top: 15%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50% -50%);
    z-index: -1;
    border-radius: 50%;
  }
    .main{
      width: 100%;
      height: 100vh;
    }
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h2{
    color: #0077b6ff;
    margin-top: 29px;
    font-weight: 400;
    font-size: 13px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .flat-button {
    color: #00b4d8ff;
    background: white;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid white;
    margin-top: 25px;
    float: left;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
      background: #00b4d8ff;
      color: white;
    }
  }
}